sudo: false
language: node_js
node_js:
  - "0.11"
  - "0.10"
before_script: 
 - npm install -g istanbul
 - npm install -g codeclimate-test-reporter
script: istanbul cover -v test/run.js 
after_script:
 - codeclimate < coverage/lcov.info
env: 
 - CODECLIMATE_REPO_TOKEN=55244c733576e3036a37631ee4a769a55a01a10a0270c366025e3510dd26fb25   
